<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.barrildobrado.chavesdebolso"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <!--<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>-->
        <activity
        android:name="br.com.barrildobrado.chavesdebolso.activity.HomeActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        android:name="br.com.barrildobrado.chavesdebolso.activity.ListaFrasesActivity"
        android:label="@string/title_activity_lista_frases"
        android:parentActivityName="br.com.barrildobrado.chavesdebolso.activity.HomeActivity"
        android:theme="@style/AppTheme.NoActionBar">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="br.com.barrildobrado.chavesdebolso.activity.HomeActivity" />
        </activity>
        <activity
        android:name="br.com.barrildobrado.chavesdebolso.activity.PlayerFraseActivity"
        android:label="@string/title_activity_player_frase"
        android:parentActivityName="br.com.barrildobrado.chavesdebolso.activity.HomeActivity"
        android:theme="@style/AppTheme.NoActionBar">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="br.com.barrildobrado.chavesdebolso.activity.HomeActivity" />
        </activity>
        <!--<activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" /> -->
        <!--Include the AdActivity configChanges and theme. -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:theme="@android:style/Theme.Translucent" />
    </application>

    <!--<provider android:authorities="com.facebook.app.FacebookContentProvider1657219907876737"
    android:name="com.facebook.FacebookContentProvider"
    android:exported="true"/>-->

</manifest>


